<html lang="en">
	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>HW 2</title>
		
	</head>
	<body>
		<div id='outerDiv'>
			<h1>Note</h1>
			<form>
				<label for='subject'>Subject</label><br/>
				<input type='text' id='subject' name='subject'><br/>
				<label for='note'>Note:</label><br/>
				<input type='textbox' id='note' name='note'><br/>
				<input type='button' id='save' value='Save' name='save' onclick='saveNote()'>
				<input type='button' id='delete' value='Delete' name='delete' onclick='delNote()'>
				<script src = "scripts/js2.js"></script>
			</form>
		</div>
	</body>
</html>